################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/myImageGrabber/obj
/myImageGrabber/bin
